
$background-color: #3c5870;
$primary-color: #def1fe;
$secondary-color: #abdcff;
$tertiary-color: #6c63ff;

* {
    margin: 0 auto;
    padding: 0;
    font-family: sans-serif;
}

body {
    margin: 50px;
    background-color: $secondary-color;
}

.container {
    width: 500px;
    margin: 0 auto; 
}

.main-game-container {
    margin-top: 100px;
    position: relative;
    padding: 15px;
    border-radius: 15px;
    background: $background-color;
    width: 500px;
    height: 500px;
    box-sizing: border-box;
    touch-action: none;
}

.grid-container {
    position: absolute;
    z-index: 1;
}
  
.grid-row {
    margin-bottom: 15px; 
}

.grid-row:last-child {
    margin-bottom: 0; 
}

.grid-row:after {
    content: "";
    display: block;
    clear: both; 
}
  
.grid-cell {
    width: 106.25px;
    height: 106.25px;
    margin-right: 15px;
    float: left;
    border-radius: 5px;
    background: $primary-color; 
}

.grid-cell:last-child {
    margin-right: 0; 
}

.tile-container {
    position: absolute;
    z-index: 2; 
}

.tile {
    position: absolute;
    width: 107px;
    height: 107px;
    line-height: 107px; 
}

.tile .tile-inner {
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
    z-index: 3;
    font-size: 55px; 
    width: 107px;
    height: 107px;
    line-height: 107px; 
}

.tile.tile-2 .tile-inner {
 
}

.tile.tile-4 .tile-inner {

}

.tile.tile-8 .tile-inner {

}
    
.tile.tile-16 .tile-inner {

}

.tile.tile-32 .tile-inner {

}

.tile.tile-64 .tile-inner {

}

.tile.tile-128 .tile-inner {
    font-size: 45px; 
}

.tile.tile-256 .tile-inner {
    font-size: 45px; 
}

.tile.tile-512 .tile-inner {
    font-size: 45px; 
}

.tile.tile-1024 .tile-inner {
    font-size: 35px; 
}

.tile.tile-2048 .tile-inner {

    font-size: 35px; 
}

@media screen and (max-width: 520px) {
    .tile.tile-128 .tile-inner, .tile.tile-256 .tile-inner, .tile.tile-512 .tile-inner, .tile.tile-1024 .tile-inner, .tile.tile-2048 .tile-inner {
        font-size: 25px; } 
}


.tile, .tile .tile-inner {
    width: 107px;
    height: 107px;
}

.tile.tile-position-1-1 {
    transform: translate(0px, 0px); 
}

.tile.tile-position-1-2 {
    transform: translate(121px, 0px); 
}

.tile.tile-position-1-3 {
    transform: translate(242px, 0px); 
}

.tile.tile-position-1-4 {
    transform: translate(363px, 0px); 
}

.tile.tile-position-2-1 {
    transform: translate(0px, 121px); 
}

.tile.tile-position-2-2 {
    transform: translate(121px, 121px); 
}

.tile.tile-position-2-3 {
    transform: translate(242px, 121px); 
}

.tile.tile-position-2-4 {
    transform: translate(363px, 121px); 
}

.tile.tile-position-3-1 {
    transform: translate(0px, 242px); 
}

.tile.tile-position-3-2 {
    transform: translate(121px, 242px); 
}

.tile.tile-position-3-3 {
    transform: translate(242px, 242px); 
}

.tile.tile-position-3-4 {
    transform: translate(363px, 242px); 
}

.tile.tile-position-4-1 {
    transform: translate(0px, 363px); 
}

.tile.tile-position-4-2 {
    transform: translate(121px, 363px); 
}

.tile.tile-position-4-3 {
    transform: translate(242px, 363px); 
}

.tile.tile-position-4-4 {
    transform: translate(363px, 363px); 
}


.below-game-section {
    text-align: center;
    padding: 50px;
}